@model Web.Models.Dokument

@{
    ViewData["Title"] = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Dokument</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatumKreiranja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumKreiranja)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumAzuriranja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumAzuriranja)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Godina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Godina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vrsta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vrsta.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zaposlenik)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zaposlenik.Ime)
        </dd>
    </dl>
</div>



<h4>Stavke</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Proizvod
            </th>
            <th>
                Opis
            </th>
            <th>
                Koli&#269;ina
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StavkaDokumenta)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Proizvod.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proizvod.Opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kolicina)
                </td>
                <td>
                    <a asp-action="DeleteStavka" asp-route-id="@item.Id" asp-route-akcija="Edit">Obri&#353;i</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Povratak na popis</a>
</div>
