@model Web.Models.Dokument

@{
    ViewData["Title"] = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Dokument</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatumKreiranja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumKreiranja)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumAzuriranja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumAzuriranja)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Godina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Godina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vrsta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vrsta.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zaposlenik)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zaposlenik.Ime)
        </dd>
        
        @foreach (var stavka in Model.StavkaDokumenta)
        {
            <dt>
                @Html.DisplayNameFor(model => stavka.Proizvod.Naziv)
            </dt>
            <dd>
                @Html.DisplayFor(model => stavka.Proizvod.Naziv)
            </dd>

        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Povratak na popis</a>
</div>
