@model IEnumerable<Web.Models.Dokument>

@{
    ViewData["Title"] = "Dokument";
}

<h2>Dokument</h2>

<p>
    <a asp-action="Create">Napravi</a> | 
    <a asp-action="GenerirajNarudzbenicu">Generiraj narud&#382;benicu</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DatumKreiranja)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatumAzuriranja)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Godina)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrsta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zaposlenik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatumKreiranja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumAzuriranja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Godina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vrsta.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zaposlenik.Ime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Vi&#353;e...</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
