@model IEnumerable<Web.Models.Partner>

@{
    ViewData["Title"] = "Partner";
}

<h2>Partner</h2>

<p>
    <a asp-action="Create">Napravi</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrsta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vrsta.Naziv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Vi&#353;e...</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
