@model Web.Models.Zaposlenik

@{
    ViewData["Title"] = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Zaposlenik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kontakt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kontakt.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Povratak na popis</a>
</div>
